body,html {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.app-button {
  padding: 10px;
  margin-top: 15px;
  background-color: #072c09;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.app-button:hover {
  background-color: #3e8e41;
}

.Logout-button{
  padding: 10px;
  margin-top: 15px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.Logout-button:hover{
  background-color: #b41e1e;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  color: #ffffff;
  margin-bottom: 30px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #048a96;
  margin: 0 10px;
}

nav a:hover {
  color: #555;
}

form {
  display: inline-block;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type='file'] {
  display: block;
  margin-bottom: 10px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #2980b9;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #000;
}

.register-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.register-form input {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-form button[type="submit"] {
  padding: 10px;
  margin-top: 15px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.preview-image {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

.face-detection-box {
  position: absolute;
  pointer-events: none;
}

.video-container {
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

/* PetOwner.css */
.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-buttons button {
  margin-top: 10px;
}

.card {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* PetCard.css */
.pet-card-wrapper {
  display: inline-block;
  margin: 10px;
}

.pet-card {
  width: 200px;
  cursor: pointer;
}
